<ion-header>
  <ion-navbar color="indigo"  class="header_nav">
      <!-- <img src="assets/imgs/city.jpg" style="width:100%;"/> -->
    <ion-item no-lines color="indigo" class="header_item">
      <ion-title class="header_title"> Tasks</ion-title>
      <ion-icon name="ios-funnel" md="md-funnel" (click)="showActionSheet()" color="light" item-end></ion-icon>
      <!-- <ion-icon name="ios-notifications" color="light" item-end></ion-icon> -->
    </ion-item>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card>
        <ion-card-header class="frist_card_title">
          Task Summary
        </ion-card-header>
        <ion-item class="summery_underline" (click) = "assignedByMe()">
            <ion-icon name="md-arrow-round-back" item-start></ion-icon>
            <p class="f_card_link">Tasks Created By Me</p>
            <ion-badge item-end class="assby">{{assigned_byme}}</ion-badge>
          </ion-item>
          <ion-item (click) = "assignedToMe()">
              <ion-icon name="md-arrow-round-forward" item-start></ion-icon>
              <p class="f_card_link">Tasks Assigned To Me</p>
              <ion-badge item-end class="assto">{{assigned_tome}}</ion-badge>
            </ion-item>
      </ion-card>
      
      <ion-card>
          <ion-list>
              <ion-item>
                  <p item-start class="qfilter" [style.color]="all" (click)="qFilterTasks('all')">All | </p>
                <p item-start class="qfilter" [style.color]="active" (click)="qFilterTasks('active')">Active | </p>
                <!-- <p item-start class="qfilter" [style.color]="ontrack" (click)="qFilterTasks('onTrack')">OnTrack | </p> -->
                <p item-start class="qfilter" [style.color]="delayed" (click)="qFilterTasks('delayed')">Delayed | </p>
                <p item-start class="qfilter" [style.color]="done" (click)="qFilterTasks('completed')">Done | </p>
                <p item-start class="qfilter" [style.color]="more" (click)="qFilterTasks('due')">    <ion-icon name="calendar"></ion-icon> </p>
              </ion-item>
            </ion-list>

            <ion-list>
                <form [formGroup]="addForm">
                    <ion-item class="addTask"  class="list-button">                  
                        <ion-input class="task_input" type="text" placeholder="Add new task" formControlName="title"></ion-input>
                            <!-- <ion-icon name="add" (click)="addNewTask()" item-end></ion-icon> -->
                    </ion-item>
                    <button (click)="addNewTask()" style="display: none !important"></button>
                    </form>
                    <ion-item>
                        <p class="delete" (click)="deleteButton()">Delete</p>
                    </ion-item>
            </ion-list>

          <ion-list>
              <ion-item-sliding #item  *ngFor="let task of allTasks | orderBy:order:caseInsensitive | filterBy:filter;" class="slide-item">
                
              <button ion-item class="list-button" lines (click)="dasboardView(task)">
                  <ion-icon  *ngIf="removeicon" name="ios-remove-circle-outline" (click)="deleteTask(task);  $event.stopPropagation()" item-start color="danger"></ion-icon>
                <ion-icon name="radio-button-off" *ngIf="task.status != 'Completed'" class="icon_first" [style.color]="task.color" item-start (click)="markComplete(task);  $event.stopPropagation()"></ion-icon>
                <ion-icon name="checkmark" *ngIf="task.status == 'Completed'" class="icon_first" item-start (click)="markNotComplete(task);  $event.stopPropagation()"></ion-icon>
               <p [ngClass]="{'strike' : task.status == 'Completed'}" class="title"> {{task.title}} </p>
               <!-- <ion-icon item-end name="eye" class="view"></ion-icon> -->
                <ion-icon md="ios-arrow-forward" class="arrow_color" item-end></ion-icon>
              </button>
                  <ion-item-options side="right">
                    <button ion-button color="danger" (click)="deleteTask(task);  $event.stopPropagation()">Delete</button>
                  </ion-item-options>
                </ion-item-sliding>

            </ion-list>
        </ion-card>


        <ion-card *ngIf="showMessage">
          <ion-card-content>
            <p>
              No tasks to display
            </p>
          </ion-card-content>
       </ion-card>

  <ion-fab right bottom>
    <button (click)="addTask()" ion-fab color="light" class="fab_butt">
      <ion-icon name="add" class="fab_icon"></ion-icon>
    </button>
  </ion-fab>
</ion-content>