page-home {

    background-color: #3C87F6;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Roboto';


    .list_title {
        color : blue;
        font-size: 15px
    }

    p.list_data {
        color: red;
    }

    .icon_sty_orange {
        font-size: 20px;
        color: orange;
        padding-right: 5px;
    }

    .icon_sty_green {
        font-size: 20px;
        color: greenyellow;
        padding-right: 5px;
    }

    .icon_sty_red {
        font-size: 20px;
        color: red;
        padding-right: 5px;
    }

    .icon_first{
        font-size: 18px;
        color: #1ce015;
        font-size: 25px;
    }

    .fab_butt{
        width: 45px;
        height: 45px;
        color: #3C87F6;
    }

    ion-content {
        background-color: rgba(255, 255, 255, 0) !important;
        color:#fff !important; 
        ion-item{
            background-color:rgba(255, 255, 255, 0) !important;
        }
    }

    .header_nav {
        position: relative;
        text-align: center;
    }

    .header_item {
        position: absolute;
        top: 4px;
    }

    .view {
        color: rgb(99, 99, 231);
        font-size: 20px;
        padding-top: 4px
    }

    .strike {
        text-decoration: line-through;
    }

    .title {
        font-size: 16px;
        color: #4A4C4F;
    }

    .list-button {
        border-bottom: 1px solid rgba(242, 242, 242, 0.822);
    }

    .header_title {
        color: #A1A1A1;
    }

    .frist_card_title {
        border-bottom: 1px solid #a7a5a3;
        font-weight: 600;
        color: #4A4C4F;
    }

    .summery_underline {
        border-bottom: 1px solid #F2F2F2;
    }

    .assto {
        background-color: #2F6BF6;
    }

    .assby {
        background-color: #2F6BF6;
    }

    .f_card_link {
        font-size: 17px
    }

    .fab_icon {
        color:#3C87F6
    }

    .input_field{
        width: 50%;
    }

    .addTask{
        border-bottom: 1px solid #F2F2F2;
    }

    .qfilter{
        color: #3C87F6;
        font-size: 17px
    }

    .delete{
        color : rgb(77, 77, 216);
        padding-left: 0.5%  
    }
    
    .task_input{
        .input-cover{
            display: none !important;
        }
    }

    .arrow_color{
        color:rgb(218, 216, 216)
    }

    .slide-item{
        height: 65px;
    }

    .list-button{
        height: 65px;
    }

}
